# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = os.path.join('..', 'Weather_Database', 'WeatherPy_database.csv')

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Batangafo,CF,2022-10-02 16:01:59,7.3008,18.2833,80.37,79,93,1.66,overcast clouds
1,1,Clarence Town,AU,2022-10-02 16:01:59,-32.5833,151.7833,54.86,94,0,2.46,clear sky
2,2,Verkhoyansk,RU,2022-10-02 16:02:00,67.5447,133.3850,19.26,96,100,2.84,overcast clouds
3,3,Lebu,CL,2022-10-02 16:02:00,-37.6167,-73.6500,59.02,69,100,6.06,overcast clouds
4,4,Bathsheba,BB,2022-10-02 15:57:41,13.2167,-59.5167,88.41,70,40,19.57,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input('Minimum desired temperature? '))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input('Maximum desired temperature? '))

Minimum desired temperature? 75
Maximum desired temperature? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                       (city_data_df['Max Temp'] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Batangafo,CF,2022-10-02 16:01:59,7.3008,18.2833,80.37,79,93,1.66,overcast clouds
4,4,Bathsheba,BB,2022-10-02 15:57:41,13.2167,-59.5167,88.41,70,40,19.57,scattered clouds
7,7,Victoria,HK,2022-10-02 15:54:28,22.2855,114.1577,84.38,83,18,8.01,few clouds
8,8,Oranjestad,AW,2022-10-02 16:02:01,12.5240,-70.0270,84.18,78,52,16.44,broken clouds
12,12,Atuona,PF,2022-10-02 15:58:52,-9.8000,-139.0333,76.78,72,14,21.16,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Batangafo,CF,2022-10-02 16:01:59,7.3008,18.2833,80.37,79,93,1.66,overcast clouds
4,4,Bathsheba,BB,2022-10-02 15:57:41,13.2167,-59.5167,88.41,70,40,19.57,scattered clouds
7,7,Victoria,HK,2022-10-02 15:54:28,22.2855,114.1577,84.38,83,18,8.01,few clouds
8,8,Oranjestad,AW,2022-10-02 16:02:01,12.5240,-70.0270,84.18,78,52,16.44,broken clouds
12,12,Atuona,PF,2022-10-02 15:58:52,-9.8000,-139.0333,76.78,72,14,21.16,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng']].copy()

# Display sample data
hotel_df.head()

          City Country  Max Temp Current Description      Lat       Lng
0    Batangafo      CF     80.37     overcast clouds   7.3008   18.2833
4    Bathsheba      BB     88.41    scattered clouds  13.2167  -59.5167
7     Victoria      HK     84.38          few clouds  22.2855  114.1577
8   Oranjestad      AW     84.18       broken clouds  12.5240  -70.0270
12      Atuona      PF     76.78          few clouds  -9.8000 -139.0333

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ''

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Batangafo,CF,80.37,overcast clouds,7.3008,18.2833,
4,Bathsheba,BB,88.41,scattered clouds,13.2167,-59.5167,
7,Victoria,HK,84.38,few clouds,22.2855,114.1577,
8,Oranjestad,AW,84.18,broken clouds,12.5240,-70.0270,
12,Atuona,PF,76.78,few clouds,-9.8000,-139.0333,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [22]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Batangafo,CF,80.37,overcast clouds,7.3008,18.2833,OCHA Office
4,Bathsheba,BB,88.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
7,Victoria,HK,84.38,few clouds,22.2855,114.1577,Mini Central
8,Oranjestad,AW,84.18,broken clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort
12,Atuona,PF,76.78,few clouds,-9.8000,-139.0333,Villa Enata

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [31]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Batangafo,CF,80.37,overcast clouds,7.3008,18.2833,OCHA Office
4,Bathsheba,BB,88.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
7,Victoria,HK,84.38,few clouds,22.2855,114.1577,Mini Central
8,Oranjestad,AW,84.18,broken clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort
12,Atuona,PF,76.78,few clouds,-9.8000,-139.0333,Villa Enata

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [32]:
# Set the file name.
output_data_file = os.path.join('WeatherPy_vacation.csv')

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label='City ID')

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [34]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [35]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>OCHA Office</dd>\n<dt>City</dt><dd>Batangafo</dd>\n<dt>Country</dt><dd>CF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Atlantis Hotel</dd>\n<dt>City</dt><dd>Bathsheba</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 88.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mini Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Current Weather</dt><dd>few clouds and 84.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Divi Village Golf & Beach Resort</dd>\n<dt>City</dt><dd>Oranjestad</dd>\n<dt>Country</dt><dd>AW</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Griya Pakis Earth</dd>\n<dt>City</dt><dd>Delanggu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ALETHEIA Appartement Sinnamary</dd>\n<dt>City</dt><dd>Sinnamary</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 87.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pekan Budget Hotel</dd>\n<dt>City</dt><dd>Pekan</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>moderate rain and 76.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Vitória Palace</dd>\n<dt>City</dt><dd>Vila Velha</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.15 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [36]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0    7.3008   18.2833
4   13.2167  -59.5167
7   22.2855  114.1577
8   12.5240  -70.0270
12  -9.8000 -139.0333
35  -7.6167  110.6833
36   5.3833  -52.9500
38 -16.4833 -151.7500
39   3.4836  103.3996
40 -20.3297  -40.2925

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [41]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))